* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000;
    --secondary-color: #fefefe;
    --tertiary-color: #fdee30;
}

body {
    color: var(--secondary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* begin nav styles */
header {
    padding: 15px 25px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: var(--tertiary-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}
 /* underlines the anchor tags in the header when hovered over */
header a:hover {
    text-decoration: underline;
}

header nav {
    margin: 5px 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 2rem;
}
/* end header styles */
/* begin hero styles */
.hero {
    display: flex;
    background-image: url("../images/hero-bg.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    margin: auto 15px 15px auto;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
}
/* end hero styles */
/* begin about me styles */
.about {
    color: var(--primary-color);
    display: flex;
    padding: 15px;
}

.about h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: auto 46px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.about-info {
    border-left: 3px solid var(--primary-color);
    padding-left: 15px;
}

.about-info img {
    float: left;
    margin-right: 10px;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.about-info p {
    font-size: 1.5rem;
}

.indent {
    text-indent: 1.5rem;
}
/* end about styles */
/* begin portfolio styles */
.portfolio {
    display: flex;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 15px;
}

.portfolio h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: auto 15px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-left: 3px solid var(--tertiary-color);
}

.projects img {
    border-radius: 15px;
}

.projects a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.projects a:hover {
    text-decoration: underline;
}

.main-project {
    margin: auto;
    padding: 25px;
}

.main-project img {
    height: 75%;
    width: 90%;
}

.main-project h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.main-project p {
    font-size: 2rem;
    font-weight: bold;
}

.secondary-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.secondary-projects div {
    height: 350px;
    width: 585px;
}

.secondary-projects img {
    height: 75%;
    width: 75%;
}

.secondary-projects h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

.secondary-projects p {
    font-size: 1.25rem;
    font-weight: bold;
}
/* end portfolio styles */
/* begin contact styles */
.contact {
    color: var(--primary-color);
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact h2 {
    font-size: 2.6rem;
    font-weight: bold;
    margin: auto 10px;
    padding: 10px;
    text-align: center;
    border-right: 3px solid var(--primary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact ul li a {
    font-size: 2rem;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: var(--primary-color);
}

.contact ul li a:hover {
    text-decoration: underline;
}
/* end contact styles */
/* begin footer styles */
footer {
    background: var(--primary-color);
    color: var(--tertiary-color);
    height: 50px;
    text-align: center;
}

footer h2 {
    padding-top: 15px;
}
/* end footer styles */
/* begin media queries */

/* media query for small computer screens */
@media screen and (max-width: 980px) {
    header h1 {
        font-size: 2.25rem;
    }

    header nav ul li a {
        font-size: 1.5rem;
    }

    .main-project h3 {
        font-size: 2rem;
    }

    .main-project p {
        font-size: 1.25rem;
    }

    .secondary-projects h3 {
        font-size: 1.5rem;
    }

    .secondary-projects p {
        font-size: 1rem;
    }
}

/* media query for 820px and smaller */
@media screen and (max-width: 820px) {
    .section-flex {
        flex-direction: column;
    }

    .title-flex {
        margin: auto;
    }

    .hero {
        height: 175px;
    }

    .hero h2 {
        font-size: 1.25rem;
    }

    .about-info {
        margin: auto;
        border: none;
        padding: 0;
        border-top: 3px solid var(--primary-color);
        padding-top: 15px;
    }

    .projects{
        margin: auto;
        padding: 0;
        border: none;
        border-top: 3px solid var(--tertiary-color);
        padding-top: 15px;
    }

    .contact h2 {
        padding: 0;
        border: none;
    }

    .contact ul {
        justify-content: space-around;
        width: 90%;
        border-top: 3px solid var(--primary-color);
        padding-top: 10px;
    }
}

/* media query for screens 600px and smaller */
@media screen and (max-width: 600px) {
    header{
        justify-content: center;
        padding: 5px;
    }

    header h1 {
        margin: auto;
    }

    header nav ul li a {
        margin: auto;
    }

    .projects {
        width: 100%;
    }

    .main-project {
        width: 90%;
    }

    .secondary-projects {
        width: 90%;
    }  

    .secondary-projects div {
        height: 230px;
        width: 75%;
    }

    .secondary-projects h3 {
        font-size: 1.25rem;
    }
}  

/* media queries for screens smaller than 385px */
@media screen and (max-width: 385px) {
    header {
        width: 100%;
    }

    header nav ul {
        justify-content: space-around;
    }

    header nav ul li a {
        font-size: 1.45rem;
    }

    .hero {
        height: 115px;
    }

    .hero h2 {
        margin: auto auto 15px 15px;
    }

    .about {
        width: 100%;
    }

    .about img {
        width: 90%;
        margin-right: 0px;
        margin-bottom: 10px;
        height: 275px;
    }

    .about p {
        font-size: 1.25rem;
        text-indent: 0px;
    }

    .about-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        text-indent: 0;
    }

    .projects {
        justify-content: center;
    }

    .main-project, .placeholder {
        height: 300px;
        width: 100%;
    }

    .main-project img, .placeholder img {
        height: 75%;
        width: 100%;
    }

    .main-project h3, .secondary-projects h3 {
        font-size: 1.25rem;
    }

    .main-project p, .secondary-projects p {
        font-size: 1rem;
    }

    .secondary-projects div {
        width: 230px;
        padding: 10px;
    }

    .contact ul {
        justify-content: center;
    }

    .contact ul li a {
        font-size: 1.5rem;
    }

    footer h2 {
        font-size: 1.2rem;
    }
}