* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #371bb1;
    --secondary-color: #05f4b7;
    --tertiary-color: #12151f;
    --tertiary-rgb: 18, 21, 31;
}

body {
    color: var(--secondary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header and Nav Styles Start */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    justify-content: space-between;
    padding: 15px 25px;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    background-color: rgba(var(--tertiary-rgb), 0.7);
    padding: 10px 15px;
    border-radius: 10px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 5px;
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.5vw;
    background-color: rgba(var(--tertiary-rgb), 0.7);
    border-radius: 10px;
}

header nav ul li a:hover {
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

/* Hero Styles Start */
.hero {
    background-image: url(images/hero-bg.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: 80%; 
    background-repeat: no-repeat;
    background-size: cover;
}