* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #371bb1;
    --secondary-color: #05f4b7;
    --tertiary-color: #12151f;
    --tertiary-rgb: 18, 21, 31;
}

body {
    color: var(--secondary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header and Nav Styles Start */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    justify-content: space-between;
    padding: 15px 25px;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    background-color: rgba(var(--tertiary-rgb), 0.7);
    padding: 10px 15px;
    border-radius: 10px;
}

header h1:hover {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    text-decoration: underline;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 5px;
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.5vw;
    background-color: rgba(var(--tertiary-rgb), 0.7);
    border-radius: 10px;
}

header nav ul li a:hover {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    text-decoration: underline;
}
/* Header/Nav Styles End */

/* Hero Styles Start */
.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/hero-bg.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: 80%; 
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.hero img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-left: 25px;
}

.hero h2 {
    text-align: center;
    padding: 15px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: 75px;
    background-color: rgba(var(--tertiary-rgb), 0.7);
    border-radius: 10px;
}

/* Hero Styles End */

/* About Me Styles Begin */
.about {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 15px 0;
}

.about h2 {
    text-align: center;
    font-size: 56px;
    margin-right: auto;
    margin-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    border-right: 3px solid var(--primary-color);
}

.about-info p {
    padding: 5px 0;
    align-items: center;
    margin: 5px 25px;
    text-align: center;
    font-size: 18px;
}
/* About Me Styles End */

/* Footer Styles Start */
footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

footer h2 {
    padding-bottom: 5px;
    text-decoration: underline;
}